.App {
  text-align: center;
}

.nav {
  text-align: center;
}

.biz {
  min-width: 10%;
  max-width: 30%;
  margin: 5px;
  background-color: white;
  border-radius: 2vh;
  padding: 2vh;
}

.row-lg-4 {
  background-color: lightblue;
  /* position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vh;
  overflow: visible;
  border-radius: 4vh;
  margin: 10px;
  text-align: left;
  align-content: center; */
}
